# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\轨迹匹配\DataMatchDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
